CompileFlags:
  Add:
    - -I/usr/include/qt
    - -I/usr/include/qt/QtCore
    - -I/usr/include/qt/QtGui
    - -I/usr/include/qt/QtWidgets
    - -std=c++17
    - -I/home/nikgub/Code/C++/fragmentlm/gui/include
    - -I/home/nikgub/Code/C++/fragmentlm/gui/src/

CompileCommands: .

ProjectRoot: .

FallbackFlags:
  Add:
    - -DQT_CORE_LIB
    - -DQT_GUI_LIB
    - -DQT_WIDGETS_LIB

CompilationDatabase: build/compile_commands.json
